{
	email {$ACME_EMAIL}
}

*.{{ network_plane_domain }} {
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}

{% for route in network_plane_proxy_routes %}
	@{{ route.hostname }} host {{ route.hostname }}.{{ network_plane_domain }}
	handle @{{ route.hostname }} {
		reverse_proxy {{ route.upstream }}
	}
{% endfor %}

	handle {
		abort
	}
}
