# Managed by herickmotta.homelab.data_platform.
AWS_ACCESS_KEY_ID={{ data_platform_backup_aws_access_key_id }}
AWS_SECRET_ACCESS_KEY={{ data_platform_backup_aws_secret_access_key }}
AWS_DEFAULT_REGION={{ data_platform_backup_region }}
