# Managed by herickmotta.homelab.hermes_agent.
GRAFANA_URL={{ hermes_agent_grafana_url }}
GRAFANA_SERVICE_ACCOUNT_TOKEN={{ hermes_agent_grafana_viewer_token }}
MCP_GRAFANA_SERVER_TOKEN={{ hermes_agent_grafana_mcp_server_token }}
