# Managed by herickmotta.homelab.hermes_agent. Mode 0640; not world-readable.
TELEGRAM_BOT_TOKEN={{ hermes_agent_telegram_bot_token }}
TELEGRAM_ALLOWED_USERS={{ hermes_agent_telegram_user_id | string }}
GATEWAY_ALLOW_ALL_USERS=false
API_SERVER_ENABLED=false
HERMES_DASHBOARD=0
{% if hermes_agent_provider_env_name | length > 0 %}
{{ hermes_agent_provider_env_name }}={{ hermes_agent_provider_api_key }}
{% endif %}
{% if hermes_agent_github_enabled | bool %}
PATH={{ hermes_agent_container_managed_dir }}/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
HERMES_GITHUB_APP_ID={{ hermes_agent_github_app_id | string }}
HERMES_GITHUB_INSTALLATION_ID={{ hermes_agent_github_installation_id | string }}
HERMES_GITHUB_APP_KEY_FILE={{ hermes_agent_container_managed_dir }}/github-app.pem
GIT_CONFIG_GLOBAL={{ hermes_agent_container_data_dir }}/home/.gitconfig
{% endif %}
