# Managed by herickmotta.homelab.hermes_agent.
MCP_CALLER_TOKEN={{ hermes_agent_ops_ledger_mcp_server_token }}
OPS_LEDGER_JWT={{ hermes_agent_ops_ledger_jwt }}
OPS_LEDGER_URL={{ hermes_agent_ops_ledger_url }}
OPS_LEDGER_MCP_LISTEN={{ hermes_agent_ops_ledger_mcp_address }}
