# Managed by herickmotta.homelab.hermes_agent. Mode 0640.
GRAFANA_WEBHOOK_HMAC_SECRET={{ hermes_agent_relay_grafana_hmac_secret }}
HERMES_ALERT_WEBHOOK_SECRET={{ hermes_agent_webhook_secret }}
RELAY_ALLOW_FROM={{ hermes_agent_relay_allow_from }}
RELAY_LISTEN_HOST={{ hermes_agent_relay_listen_host }}
RELAY_LISTEN_PORT={{ hermes_agent_relay_listen_port | string }}
RELAY_MAX_BODY_BYTES={{ hermes_agent_relay_max_body_bytes | string }}
RELAY_RATE_PER_MINUTE={{ hermes_agent_relay_rate_per_minute | string }}
RELAY_STATE_DIR={{ hermes_agent_relay_state_dir }}
HERMES_WEBHOOK_URL=http://127.0.0.1:{{ hermes_agent_webhook_port | int }}/webhooks/{{ hermes_agent_webhook_route }}
