# Managed by herickmotta.homelab.hermes.
HERMES_LISTEN_ADDRESS={{ hermes_listen_address }}
HERMES_WEBHOOK_SECRET={{ hermes_webhook_secret }}
HERMES_TELEGRAM_BOT_TOKEN={{ hermes_telegram_bot_token }}
HERMES_TELEGRAM_CHAT_ID={{ hermes_telegram_chat_id }}
HERMES_OPENAI_API_KEY={{ hermes_openai_api_key }}
HERMES_MODEL_DEFAULT={{ hermes_model_default }}
HERMES_MODEL_COMPLEX={{ hermes_model_complex }}
HERMES_SENTINEL_PROMETHEUS_URL={{ hermes_sentinel_prometheus_url }}
HERMES_OBSERVE_PROMETHEUS_URL={{ hermes_observe_prometheus_url }}
HERMES_OBSERVE_LOKI_URL={{ hermes_observe_loki_url }}
HERMES_PVE_URL={{ hermes_pve_url }}
HERMES_PVE_TOKEN_ID={{ hermes_pve_token_id }}
HERMES_PVE_TOKEN_SECRET={{ hermes_pve_token_secret }}
HERMES_PVE_NODE={{ hermes_pve_node }}
HERMES_GITHUB_TOKEN={{ hermes_github_token }}
HERMES_GITHUB_REPOSITORY={{ hermes_github_repository }}
HERMES_ALLOWED_HOSTS={{ hermes_allowed_hosts | join(',') }}
HERMES_ALLOWED_SERVICES={{ hermes_allowed_services | join(',') }}
HERMES_ALLOWED_VMIDS={{ hermes_allowed_vmids | join(',') }}
HERMES_ALLOWED_GIT_PATHS={{ hermes_allowed_git_paths | join(',') }}
HERMES_LOG_SOURCES={{ hermes_log_sources | to_json }}
HERMES_STATE_DIR={{ hermes_state_dir }}
