# Managed by herickmotta.homelab.observability.
apiVersion: 1
datasources:
  - name: Prometheus
    uid: prometheus
    type: prometheus
    access: proxy
    url: http://{{ observability_prometheus_listen_address }}
    isDefault: true
    editable: false
    jsonData:
      manageAlerts: true
      prometheusType: Prometheus
  - name: Loki
    uid: loki
    type: loki
    access: proxy
    url: http://{{ observability_loki_ready_address }}
    editable: false
    jsonData:
      maxLines: 1000
{% if observability_external_alertmanager_address | default('') | length > 0 %}
  - name: Alertmanager
    uid: alertmanager
    type: alertmanager
    access: proxy
    url: http://{{ observability_external_alertmanager_address }}
    editable: false
    jsonData:
      implementation: prometheus
      handleGrafanaManagedAlerts: false
{% endif %}
