# Managed by herickmotta.homelab.log_shipper.
[Unit]
Description=Grafana Alloy log shipper
Documentation=https://grafana.com/docs/alloy/latest/
Wants=network-online.target
After=network-online.target
{% if log_shipper_docker | bool %}
After=docker.service
{% endif %}

[Service]
Type=simple
User={{ log_shipper_user }}
Group={{ log_shipper_group }}
{% if log_shipper_docker | bool %}
SupplementaryGroups=adm systemd-journal docker
{% else %}
SupplementaryGroups=adm systemd-journal
{% endif %}
Restart=always
RestartSec=5
ExecStart={{ log_shipper_bin_dir }}/alloy run --storage.path={{ log_shipper_state_dir }} --server.http.listen-addr={{ log_shipper_listen_address }} {{ log_shipper_config_dir }}/config.alloy
NoNewPrivileges=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target
